@font-face {
    font-family: 'Roboto';
    src: url("../fonts/subset-Roboto-Regular.woff2") format('woff2'), url("../fonts/subset-Roboto-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url("../fonts/subset-GothamPro.woff2") format('woff2'), url("../fonts/subset-GothamPro.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url("../fonts/subset-GothamPro-Medium.woff2") format('woff2'), url("../fonts/subset-GothamPro-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ArialBlack';
    src: url("../fonts/subset-Arial-Black.woff2") format('woff2'), url("../fonts/subset-Arial-Black.woff") format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}