.form-label {
    display: block;
    font-family: var(--secondary_font_family);
    margin-bottom: 5px;
    text-transform: uppercase;
}

.disabled {
    .form-label {
        opacity: 0.6;
    }
}

.input,
.textarea {
    border-radius: 0;
    background-color: #fff;
    border: 1px solid var(--text_color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    padding-left: 15px;
    padding-right: 15px;
    transition: border-color 0.3s;
    width: 100%;

    &::-webkit-input-placeholder {
        color: var(--secondary_color_dark);
        opacity: 1;
    }

    &::-moz-placeholder {
        color: var(--secondary_color_dark);
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: var(--secondary_color_dark);
        opacity: 1;
    }

    &:not(:disabled) {
        &:focus {
            border-color: var(--text_color);
        }
    }

    &.disabled,
    &:disabled {
        opacity: 0.6;
    }

    &.error {
        border-color: var(--error_color);
        color: var(--error_color);
    }

    &:not(.input--underlined) {
        padding-left: 20px;
        padding-right: 20px;
        @media(min-width: $fhd) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    &--underlined {
        border-left: none;
        border-right: none;
        border-top: none;
        padding-left: 0;
        padding-right: 0;

        &::-webkit-input-placeholder {
            color: var(--secondary_color);
        }

        &::-moz-placeholder {
            color: var(--secondary_color);
        }

        &:-ms-input-placeholder {
            color: var(--secondary_color);
        }
    }
}

.input {
    height: 40px;
}

.textarea {
    height: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    resize: none;
}

input,
textarea {
    &:focus {
        outline: 0;
    }
}

.required {
    color: var(--error_color);
}

.error-text {
    color: var(--error_color);
    font-size: 12px;
    margin-top: 5px;
    @media(min-width: $sm) {
        font-size: 14px;
    }
}