.clients {
    h2 {
        color: var(--text_color);
        margin: 0 0 20px;
        text-align: center;
        text-transform: uppercase;
    }

    .slick-slide {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.clients-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    @media(min-width: $sm) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media(min-width: $md) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    div {
        text-align: center;
    }
}