.clients {
    h2 {
        color: var(--text_color);
        margin: 0 0 20px;
        text-align: center;
        text-transform: uppercase;
    }

    .slick-slide {
        padding-left: 10px;
        padding-right: 10px;
    }
}