.clients {
    h2 {
        color: var(--text_color);
        font-family: var(--secondary_font_family);
        font-size: 20px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
    }

    .slick-slide {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.clients-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    @media(min-width: $sm) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media(min-width: $md) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    div {
        text-align: center;
    }
}