.nav-block {
    --gap: 20px;
    background-color: #dfe4ea;
    min-height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 3;

    &__inner {
        padding-left: var(--container_padding);
        padding-right: var(--container_padding);
        @media(min-width: $sm) {
            align-items: center;
            display: flex;
            flex-direction: row-reverse;
            gap: var(--gap);
        }
        @media(min-width: $hd) {
            margin-left: calc(22.66666667% - var(--container_padding));
            margin-right: calc(22.66666667% - var(--container_padding));
        }
        @media(min-width: $lg) {
            --gap: 40px;
        }
    }
}

.menu {
    font-family: var(--secondary_font_family);
    font-size: 16px;
    text-transform: uppercase;
    @media(min-width: $sm) {
        width: calc(40% - var(--gap) / 2);
    }

    &__opener {
        align-items: center;
        border: 3px solid var(--primary_color);
        background-color: transparent;
        color: var(--text_color);
        cursor: pointer;
        display: flex;
        font-size: 16px;
        font-family: var(--secondary_font_family);
        font-weight: 500;
        height: 48px;
        gap: 10px;
        justify-content: space-between;
        line-height: 2.5;
        padding-left: 25px;
        padding-right: 11px;
        text-transform: uppercase;
        text-align: left;
        width: 100%;
        @include hover {
            color: var(--primary_color);
        }
        @media(min-width: $hd) and (max-width: $lg - 0.01px) {
            font-size: 14px;
            padding-left: 16px;
        }

        &.is-active {
            svg {
                transform: rotate(180deg);
            }
        }

        svg {
            fill: var(--primary_color);
            height: 17px;
            width: 17px;
        }
    }

    &__container {
        background-color: rgba(#313236, 0.8);
        min-height: calc(100dvh - 40px - 138px);
        display: none;
        left: 0;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 10;
        @media(min-width: $sm) {
            min-height: calc(100dvh - 67px - 70px);
        }
    }

    &__container-inner {
        background-color: #f1f2f3;
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
        @media(min-width: $hd) {
            display: flex;
        }
    }

    &__lvl-block {
        @include list-reset;
    }

    &__lvl-1,
    &__lvl-2,
    &__lvl-3 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__lvl-1 {
        font-weight: 500;
        @media(min-width: $hd) {
            position: relative;
            width: calc(100% / 3);
            z-index: 1;
        }

        .menu__link {
            @include hover {
                background-color: var(--primary_color);
                color: #fff;
            }
        }

        & > .menu__item {
            &:hover {
                & > .menu__item-inner {
                    & > .menu__link {
                        @media(min-width: $hd) {
                            background-color: var(--primary_color);
                            color: #fff;
                        }
                    }
                }
            }

            &.is-active {
                & > .menu__item-inner {
                    & > .menu__link {
                        @media(min-width: $hd) {
                            background-color: var(--primary_color);
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    &__lvl-2,
    &__lvl-3 {
        display: none;
        @media(min-width: $hd) {
            background-color: #fff;
            left: 100%;
            min-height: 100%;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
        }

        .menu__link {
            @include hover {
                background-color: #f1f2f3;
                color: var(--primary_color);
            }
        }
    }

    &__lvl-2 {
        @media(min-width: $hd) {
            border-left: 3px solid var(--primary_color);
        }
    }

    &__lvl-3 {
        @media(min-width: $hd) {
            border-left: 3px solid #dfe4ea;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 5px;
        }

        &.is-active {
            & > .menu__item-inner {
                @media(max-width: $hd - 0.01px) {
                    padding-left: 48px;
                }

                & > .menu__link {
                    @media(max-width: $hd - 0.01px) {
                        font-weight: 500;
                    }
                }

                & > .menu__button {
                    background-color: transparent;
                    justify-content: flex-start;
                    left: 0;
                    right: auto;
                    width: 100%;

                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }
        @include hover {
            & > .menu__lvl-block {
                @media(min-width: $hd) {
                    display: block;
                }
            }
        }
    }

    &__item-inner {
        display: block;
        position: relative;
        z-index: 1;
    }

    &__link {
        align-items: center;
        color: var(--text_color);
        display: flex;
        min-height: 48px;
        padding-left: 20px;
        padding-right: 20px;
        transition: background-color 0.3s, color 0.3s;
        text-decoration: none;
        @media(min-width: $hd) {
            min-height: 40px;
        }
    }

    &__button {
        @include button-reset;
        align-items: center;
        background-color: #dfe4ea;
        display: flex;
        justify-content: center;
        height: 48px;
        left: auto;
        position: absolute;
        padding-left: 15px;
        padding-right: 15px;
        right: 0;
        top: 0;
        width: 48px;
        z-index: 1;

        svg {
            fill: var(--text_color);
            height: 11px;
            width: 11px;
        }
        @media(min-width: $hd) {
            display: none;
        }
    }
}