<section class="callback">
    <div class="callback__inner">
        <h2>Остались вопросы?</h2>
        <p>Наши менеджеры с удовольствием Вас проконсультируют</p>
        <form class="callback__form form" action="">
            <div class="form-group">
                <label class="form-label" for="u_name">Ваше имя</label>
                <input id="u_name" class="input" type="text">
            </div>

            <div class="form-group">
                <label class="form-label" for="u_phone">Телефон<span class="req">*</span></label>
                <input id="u_phone" class="js-phone-mask input" type="text" placeholder="+7(___)___ __ __">
                <div class="error-text">Ошибка заполнения поля!</div>
            </div>

            <div class="form__button-block">
                <button class="button" type="submit">Отправить</button>
            </div>
        </form>
    </div>
</section>