<section class="section clients">
    <h2>Наши клиенты</h2>
    <!--для слайдера поменять clients-list на js-clients-->
    <div class="clients-list">
        <div><img src="images/content/clients/ec7389e06c40518396c0a08bbea0307f.jpg"></div>
        <div><img src="images/content/clients/169bd7ae7767c8baa3bbe33356807a1a.jpg"></div>
        <div><img src="images/content/clients/7d2489ae01e58e6177c308b6b157b693.jpg"></div>
        <div><img src="images/content/clients/f5e70897cad01c5a36a38ff0522a8767.jpg"></div>
        <div><img src="images/content/clients/c67182890a04017aff3448cb340759f5.jpg"></div>
        <div><img src="images/content/clients/7fb0b884543bad71b546696f66a5a029.jpg"></div>
        <div><img src="images/content/clients/23aa9cc868731605eb03968c37529cab.jpg"></div>
        <div><img src="images/content/clients/effabeac6cb64203b55e5ee6ea4de185.jpg"></div>
        <div><img src="images/content/clients/6ce3986bb04c926d629cada4d7fe0c65.jpg"></div>
        <div><img src="images/content/clients/050ef165208f0e2ce193652d78c6815b.jpg"></div>
        <div><img src="images/content/clients/705898afc151197bd0c6688dd6792f90.jpg"></div>
        <div><img src="images/content/clients/553ee4f45bf450a590db6dd8e1a114ae.jpg"></div>
    </div>
</section>