<div class="detail-text">
    <div style="text-align:right;">
        <em>Ориентировочная стоимость за м2 в зависимости от объема заказа, руб</em>
    </div>
    <table class="prices-table">
        <thead>
            <tr>
                <td>Материал \ Тираж (м2)</td>
                <td>0-5</td>
                <td>5-20</td>
                <td>20-50</td>
                <td>50-200</td>
                <td>200-1000</td>
                <td>1000+</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Пенокартон белый 3 мм.</td>
                <td>call</td>
                <td>call</td>
                <td>call</td>
                <td>call</td>
                <td>call</td>
                <td>call</td>
            </tr>
            <tr>
                <td>Пенокартон 10мм</td>
                <td>call</td>
                <td>call</td>
                <td>call</td>
                <td>call</td>
                <td>call</td>
                <td>call</td>
            </tr>
        </tbody>
    </table>
    <div style="text-align:right;">
        <span style="color:#d10000;"><em>Минимальный заказ - 1500-2000р.</em></span>
    </div>
    <p>
        Полноцветная печать на пенокартоне используется для изготовления интерьерных табличек, стендов, вывесок и POS-материалов, таких как: навигационные таблички в магазинах, ростовые фигуры, тантамарески, и элементы для промо-стоек.
    </p>
    <h2>Печать фото на пенокартоне</h2>
    <p>
        Прямая печать на пенокартоне сильно востребована у организаторов художественных галерей и оформителей интерьеров. С новейшим оборудованием компании DURST мы осуществляем фотопечать на пенокартоне в качестве 1200dpi максимальным размером
        2000*3000мм.
    </p>
    <p>
        В наличии имеются листы пенокартона толщиной 5мм и 10мм. Под заказ доступны листы толщиной 3мм.
    </p>
    <p>
        В большинстве случаев мы изготавливаем заказы на пенокартоне к вечеру следующего рабочего дня, то есть меньше чем за сутки. При этом объем заказа не особо играет роль из-за высокой скорости печати.
    </p>
    <p>
        Резка отпечатанных листов на изделия, в том числе и фигурная, осуществляется высокоточным оборудованием ZUND, рассчитывается отдельно в зависимости от сложности реза.
    </p>

    <h3>Накатка на пенокартон</h3>
    <p>
        Всего пять лет назад популярной и чуть ли не единственной технологией изготовления фотокартин была накатка изображения, отпечатанного на самоклеющейся пленке, к основе из пенокартона. В настоящее время УФ-технологии печати позволяют
        переносить краску напрямую на материал, что значительно экономит как сами материалы, так и производственные ресурсы.
    </p>
    <p>
        Пожалуй, единственный случай, когда накатка на пенокартон остается актуальной - задача получить истинно глянцевое изображение. Если это Ваш случай, то рассчитайте заказ, написав запрос на почту: <a
          href="mailto:penokarton@arial.ru">penokarton@arial.ru</a>
    </p>
</div>