<div class="features">
    <div class="features__inner">
        <div class="features__item">
            <div class="feature">
                <div class="feature__image">
                    <img src="images/content/features/img_1.svg" alt="">
                </div>
                <div class="feature__text-block">
                    <p class="feature__title">СОБСТВЕННОЕ ПРОИЗВОДСТВО В СПБ</p>
                    <p class="feature__text">
                        уникальное оборудование с качеством печати 1200 dpi<br>
                        <a href="/equip">подробнее о производстве</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="features__item">
            <div class="feature">
                <div class="feature__image">
                    <img src="images/content/features/img_2.svg" alt="">
                </div>
                <div class="feature__text-block">
                    <p class="feature__title">Тираж от 10 штук</p>
                    <p class="feature__text">
                        бесплатный пилотный образец при заключении договора
                    </p>
                </div>
            </div>
        </div>
        <div class="features__item">
            <div class="feature">
                <div class="feature__image">
                    <img src="images/content/features/img_3.svg" alt="">
                </div>
                <div class="feature__text-block">
                    <p class="feature__title">Короткие сроки</p>
                    <p class="feature__text">
                        100 изделий за 3-7&nbsp;рабочих&nbsp;дней
                    </p>
                </div>
            </div>
        </div>
        <div class="features__item">
            <div class="feature">
                <div class="feature__image">
                    <img src="images/content/features/img_4.svg" alt="">
                </div>
                <div class="feature__text-block">
                    <p class="feature__title">Собственный отдел разработки</p>
                    <p class="feature__text">
                        в штате 2 конструктора и 5&nbsp;дизайнеров
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>