<footer class="footer">
    <div class="footer__inner container">
        <div class="footer__map">
            <picture>
                <source srcset="images/content/footer/map-desktop.jpg" media="(min-width: 768px)">
                <img src="images/content/footer/map-mobile.jpg" alt="">
            </picture>
            <a class="footer__map-link" href="/contact/">ПОСМОТРЕТЬ НА КАРТЕ</a>
        </div>

        <div class="footer__menu-block">
            <ul class="footer__menu">
                <li><a href="/uslugi/">Широкоформатная печать</a></li>
                <li><a href="/products/pos-materialy/">Производство POSM</a></li>
                <li><a href="/about/">О компании </a></li>
                <li><a href="/equip/">Производство</a></li>
                <li><a href="/contact/">Контакты</a></li>
                <li><a href="/docs/">Документы</a></li>
            </ul>

            <div class="footer__socials">
                <a class="footer__social" onclick="yaCounter47395144.reachGoal('VK'); return true;" target="_blanc" href="https://vk.com/arial_print" title="Вконтакте">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#vk" />
                    </svg>
                </a>

                <a class="footer__social" onclick="yaCounter47395144.reachGoal('INST'); return true;" target="_blanc" href="https://www.instagram.com/arialprintru/" title="Instagram">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#inst" />
                    </svg>
                </a>
            </div>
        </div>

        <div class="footer__contacts">
            <div class="footer__contacts-block">
                <img src="images/icons/phone-icon.png">
                <a onclick="yaCounter47395144.reachGoal('Number_Header_SPB'); return true;" href="tel:+78123132332">(812) 313 23 32</a>
                <br>
                <a onclick="yaCounter47395144.reachGoal('Number_Header_Msk'); return true;" href="tel:+74990770000" style="letter-spacing: -1px">(499) 077 00 00</a>
            </div>

            <div class="footer__contacts-block">
                <a title="Посмотреть на картах" href="https://arial.ru/contact">
                    <img src="images/icons/point.png">
                    ул. Газовая, д.10,<br>
                    САНКТ-ПЕТЕРБУРГ
                </a>
            </div>

            <div class="footer__contacts-block">
                <img src="images/icons/mail-icon.png">
                <a title="info@arial.ru" href="mailto:info@arial.ru" onclick="yaCounter47395144.reachGoal('Mailbox');">info@arial.ru</a>
            </div>
        </div>
    </div>
</footer>