<header class="header compensate-for-scrollbar">
    <div class="header__inner">
        <a class="header__logo" href="#">АРИАЛ</a>

        <p class="header__block header__title">широкоформатная печать</p>

        <div class="header__block header__phones">
            <img src="images/icons/phone-icon.png">
            <div>
                <a onclick="yaCounter47395144.reachGoal('Number_Header_SPB'); return true;" href="tel:+78123132332">(812) 313 23 32</a>
                <a onclick="yaCounter47395144.reachGoal('Number_Header_Msk'); return true;" href="tel:+74990770000">(499) 077 00 00</a>
            </div>
        </div>

        <div class="header__block header__work-time">
            <img src="images/icons/clock-icon.png">
            10:00 - 22:00
        </div>

        <div class="header__block header__email">
            <a href="mailto:info@arial.ru" onclick="yaCounter47395144.reachGoal('Mailbox');">
                <img src=" images/icons/mail-icon.png">
                info@arial.ru
            </a>
        </div>

        <div class="header__block header__personal">
            <a class="personal-link" href="http://cabinet.arial.ru/Login/default.aspx">
                ЛИЧНЫЙ КАБИНЕТ
                <img src="/images/icons/door.png">
            </a>
        </div>

        <button class="js-mobile-menu-opener header__menu-opener" type="button" title="Открыть меню">
            <span></span>
        </button>

        <div class="mobile-menu">
            <div class="mobile-menu__inner">
                <button class="js-mobile-menu-closer mobile-menu__closer" type="button" title="Закрыть меню">
                    <img title="Закрыть меню" src="images/icons/menu-close-icon.png">
                </button>

                <p class="mobile-menu__title">меню</p>

                <ul class="mobile-menu__list">
                    <li><a href="/uslugi/">Широкоформатная печать</a></li>
                    <li><a href="/products/pos-materialy/">Производство POSM</a></li>
                    <li><a href="/about/">О компании </a></li>
                    <li><a href="/equip/">Производство</a></li>
                    <li><a href="/contact/">Контакты</a></li>
                    <li><a href="/docs/">Документы</a></li>
                </ul>

                <div class="mobile-menu__contacts">
                    <div class="mobile-menu__contacts-block">
                        <img src="images/icons/phone-icon.png">
                        <div>
                            <a onclick="yaCounter47395144.reachGoal('Number_Header_SPB'); return true;" href="tel:+78123132332">(812) 313 23 32</a>
                            <a onclick="yaCounter47395144.reachGoal('Number_Header_Msk'); return true;" href="tel:+74990770000">(499) 077 00 00</a>
                        </div>
                    </div>

                    <div class="mobile-menu__contacts-block">
                        <img src="images/icons/point.png">
                        ул. Газовая, д.10,<br>САНКТ-ПЕТЕРБУРГ
                    </div>

                    <div class="mobile-menu__contacts-block">
                        <a href="mailto:info@arial.ru" onclick="yaCounter47395144.reachGoal('Mailbox');">
                            <img src="images/icons/mail-icon.png">
                            info@arial.ru
                        </a>
                    </div>

                    <a class="personal-link" href="http://cabinet.arial.ru/Login/default.aspx">
                        ЛИЧНЫЙ КАБИНЕТ
                        <img src="images/icons/door.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>