<section class="section">
    <div class="title-block">
        <h2>Также может заинтересовать</h2>
        <a href="#"> Все материалы</a>
    </div>
    <div class="sections sections--mod_2">
        <a class="sections-item" href="#" style="background-image:url('images/content/sections/img_1.png')">
            <img class="sections-item__image" src="images/content/sections/arial-icon.svg">
            <span class="sections-item__title">Рекламные стойки</span>
        </a>
        <a class="sections-item" href="#" style="background-image:url('images/content/sections/img_1.png')">
            <img class="sections-item__image" src="images/content/sections/arial-icon.svg">
            <span class="sections-item__title">Рекламные стойки</span>
        </a>
        <a class="sections-item" href="#" style="background-image:url('images/content/sections/img_1.png')">
            <img class="sections-item__image" src="images/content/sections/arial-icon.svg">
            <span class="sections-item__title">Рекламные стойки</span>
        </a>
        <a class="sections-item" href="#" style="background-image:url('images/content/sections/img_1.png')">
            <img class="sections-item__image" src="images/content/sections/arial-icon.svg">
            <span class="sections-item__title">Рекламные стойки</span>
        </a>
    </div>
</section>