<section class="nav-block">
    <div class="nav-block__inner">
        <div class="search">
            <form class="search__form" action="">
                <input class="search__input" type="text" name="q" value="" placeholder="Поиск услуг и продукции">
                <button class="search__submit" type="submit" title="Искать">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#search" />
                    </svg>
                </button>
            </form>
        </div>

        <nav class="menu">
            <button class="js-menu-toggler menu__opener" type="button">
                продукция и услуги
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_down" />
                </svg>
            </button>

            <div class="menu__container">
                <div class="menu__container-inner">
                    <ul class="menu__lvl-block menu__lvl-1">
                        <li class="menu__item">
                            <span class="menu__item-inner">
                                <a class="menu__link" href="/products/pos-materialy/">Производство POSM</a>

                                <button class="js-menu-button menu__button" type="button" title="Открыть следующий уровень меню" data-target="1">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#arrow_right" />
                                    </svg>
                                </button>
                            </span>
                        </li>

                        <li class="menu__item">
                            <span class="menu__item-inner">
                                <a class="menu__link" href="/uslugi/">Печать на материалах</a>

                                <button class="js-menu-button menu__button" type="button" title="Открыть следующий уровень меню" data-target="2">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#arrow_right" />
                                    </svg>
                                </button>
                            </span>
                        </li>
                    </ul>

                    <ul class="menu__lvl-block menu__lvl-2" data-target="1">
                        <li class="menu__item">
                            <a class="menu__link" href="/products/pos-materialy/reklamnye-stoyki/">Рекламные стойки</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="/products/pos-materialy/palletnye-ograzhdeniya/">Паллетная выкладка</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="/products/pos-materialy/chekhly-na-antikrazhnye-vorota/">Чехлы на антикражные ворота</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="/products/pos-materialy/rostovye-figury/">Ростовые фигуры</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="/products/pos-materialy/tamtamareski/">Хардпостеры, тантамарески</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="/products/pos-materialy/mobayly/">Мобайлы</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="/products/pos-materialy/shelftokery/">Шелфтокеры</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="/products/pos-materialy/razdeliteli-sektsiy/">Разделители секций</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="/products/pos-materialy/shelfbannery/">Шелфбаннеры</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="/products/pos-materialy/navigatsionnye-tablichki/">Навигационные таблички</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="/products/pos-materialy/vkhodnye-arki-vorota/">Входные арки, ворота</a>
                        </li>
                    </ul>

                    <ul class="menu__lvl-block menu__lvl-2" data-target="2">
                        <li class="menu__item">
                            <span class="menu__item-inner">
                                <a class="menu__link" href="#">УФ ПЕЧАТЬ НА ЛИСТОВЫХ МАТЕРИАЛАХ</a>

                                <button class="js-menu-button menu__button" type="button" title="Открыть следующий уровень меню" data-target="3">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#arrow_right" />
                                    </svg>
                                </button>
                            </span>
                            <ul class="menu__lvl-block menu__lvl-3" data-target="3">
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/listovye-plastiki/penokarton/">Пенокартон</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/listovye-plastiki/alyuminievye-kompozitnye-paneli/">Алюминиевые композитные панели</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/listovye-plastiki/pvkh/">ПВХ</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/listovye-plastiki/gofrokarton/">Гофрокартон</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/listovye-plastiki/pet/">ПЭТ</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/listovye-plastiki/mikrogofrokarton/">Микрогофрокартон</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/listovye-plastiki/sendvich-paneli/">Сэндвич-панели</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/listovye-plastiki/sendvich-paneli-pvkh/">Сэндвич-панели ПВХ</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/listovye-plastiki/plastik/">ПЛАСТИК</a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu__item">
                            <span class="menu__item-inner">
                                <a class="menu__link" href="#">БУМАГА, БЭКЛИТ</a>

                                <button class="js-menu-button menu__button" type="button" title="Открыть следующий уровень меню" data-target="4">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#arrow_right" />
                                    </svg>
                                </button>
                            </span>
                            <ul class="menu__lvl-block menu__lvl-3" data-target="4">
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/bumaga-beklit/posternaya-bumaga/">Постерная бумага</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/bumaga-beklit/beklit/">Бэклит</a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu__item">
                            <span class="menu__item-inner">
                                <a class="menu__link" href="#">САМОКЛЕЮЩИЕСЯ ПЛЕНКИ</a>

                                <button class="js-menu-button menu__button" type="button" title="Открыть следующий уровень меню" data-target="5">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#arrow_right" />
                                    </svg>
                                </button>
                            </span>
                            <ul class="menu__lvl-block menu__lvl-3" data-target="5">
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/samokleyushchiesya-plenki/belaya-plenka/">Белая пленка</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/samokleyushchiesya-plenki/prozrachnaya-plenka/">Прозрачная пленка</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/samokleyushchiesya-plenki/translyutsentnaya-plenka/">Транслюцентная пленка</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/samokleyushchiesya-plenki/plenka-blekaut/">Пленка блэкаут</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/samokleyushchiesya-plenki/samokleyushchiesya-plenki/">Самоклеющиеся пленки</a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu__item">
                            <span class="menu__item-inner">
                                <a class="menu__link" href="#">БАННЕРЫ, СЕТКИ</a>

                                <button class="js-menu-button menu__button" type="button" title="Открыть следующий уровень меню" data-target="6">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#arrow_right" />
                                    </svg>
                                </button>
                            </span>
                            <ul class="menu__lvl-block menu__lvl-3" data-target="6">
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/bannery-setki/banner-frontlit/">Баннер frontlit</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/bannery-setki/bannernaya-setka/">Баннерная сетка</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/bannery-setki/translyutsentnyy-banner/">Транслюцентный баннер</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/bannery-setki/banner-blekaut/">Баннер блэкаут</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/bannery-setki/banner-blekbek/">Баннер блэкбэк</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/bannery-setki/bannery/">Баннеры</a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu__item">
                            <span class="menu__item-inner">
                                <a class="menu__link" href="#">ТКАНИ, КОВРОЛИН</a>

                                <button class="js-menu-button menu__button" type="button" title="Открыть следующий уровень меню" data-target="7">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#arrow_right" />
                                    </svg>
                                </button>
                            </span>
                            <ul class="menu__lvl-block menu__lvl-3" data-target="7">
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/tkani-kovrolin/tkan-displey/">Ткань Дисплей</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/tkani-kovrolin/flazhnaya-setka/">Флажная сетка</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/tkani-kovrolin/tkan-samba/">Ткань Самба</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/tkani-kovrolin/taffeta/">Таффета</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/tkani-kovrolin/kovrolin/">Ковролин</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/tkani-kovrolin/tkani/">Ткани</a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu__item">
                            <span class="menu__item-inner">
                                <a class="menu__link" href="#">ХОЛСТ</a>

                                <button class="js-menu-button menu__button" type="button" title="Открыть следующий уровень меню" data-target="8">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#arrow_right" />
                                    </svg>
                                </button>
                            </span>
                            <ul class="menu__lvl-block menu__lvl-3" data-target="8">
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/kholst/naturalnyy-kholst/">Натуральный холст</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/kholst/sinteticheskiy-kholst/">Синтетический холст</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/kholst/kholst/">Холст</a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu__item">
                            <span class="menu__item-inner">
                                <a class="menu__link" href="#">ФЕРРОПЛЕНКА, МАГНИТНЫЕ МАТЕРИАЛЫ</a>

                                <button class="js-menu-button menu__button" type="button" title="Открыть следующий уровень меню" data-target="9">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#arrow_right" />
                                    </svg>
                                </button>
                            </span>
                            <ul class="menu__lvl-block menu__lvl-3" data-target="8">
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/kholst/naturalnyy-kholst/">Ферропленка</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="/uslugi/kholst/sinteticheskiy-kholst/">Магнитный винил</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</section>