<section class="works">
    <div class="title-block">
        <h2>Наши работы</h2>
        <a href="#">всё портфолио</a>
    </div>

    <div class="works__slider">
        <div class="js-works-slider">
            <div>
                <div class="slide-inner">
                    <img src="images/content/detail/img_2.jpg" alt="">
                    <p class="slide-title-descr">
                        Дисплей Coca-Cola Елка
                        <a onclick="yaCounter47395144.reachGoal('Zakazat_takoige'); return true;" href="javascript:void(0)" data-fancybox="price_request_1" data-src="#price_request">Заказать такой же</a>
                    </p>
                </div>
            </div>
            <div>
                <div class="slide-inner">
                    <img src="images/content/detail/img_2.jpg" alt="">
                    <p class="slide-title-descr">
                        Дисплей Coca-Cola Елка
                        <a onclick="yaCounter47395144.reachGoal('Zakazat_takoige'); return true;" href="javascript:void(0)" data-fancybox="price_request_2" data-src="#price_request">Заказать такой же</a>
                    </p>
                </div>
            </div>
            <div>
                <div class="slide-inner">
                    <img src="images/content/detail/img_2.jpg" alt="">
                    <p class="slide-title-descr">
                        Дисплей Coca-Cola Елка
                        <a onclick="yaCounter47395144.reachGoal('Zakazat_takoige'); return true;" href="javascript:void(0)" data-fancybox="price_request_3" data-src="#price_request">Заказать такой же</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="works__thumbs">
        <div class="js-works-thumbs">
            <div><img src="images/content/detail/img_2.jpg" alt=""></div>
            <div><img src="images/content/detail/img_2.jpg" alt=""></div>
            <div><img src="images/content/detail/img_2.jpg" alt=""></div>
        </div>
    </div>
</section>